@use '../../utils/variables' as *;

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 50vw;
    max-width: 640px;
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;

    .top{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 50vw;
        color: $white;
        font: $default-font;
    }

    .start{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        padding-top: 16px;
        color: $white;
        font: $default-font;
    }

    .middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50vw;
        margin-top: 16px;
        color: $white;
        font: $default-font;
    }

    .end{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 50vw;
        margin-bottom: 12px;
        color: $white;
        font: $default-font;
    }

    a, h1{
        margin: 6px 16px 6px 16px;
        color: $white;
    }

    a{
        padding: 8px 12px 8px 12px;
        background-color: $black;
        text-decoration: none;
        font-weight: bold;
        border-radius: 6px;
        box-shadow: $shadow 1px 2px 3px;
        transform: scale(1) translateX(0px);
        transition: $default-transition;

        &:hover{
            background-color: $grey;
            box-shadow: $shadow 1px 2px 6px;
            transform: scale(1.025) translateX(16px);
            transition: $default-transition;
        }
    }

    .logo-link{
        color: $white;
        margin-right: 0px;
        transform: scale(1) translateX(0px);
        transition: $default-transition;

        &:hover{
            transform: scale(1.1) translateY(-8px);
            transition: $default-transition;
        }
    }
}

@media screen and (max-width: 800px){
    header{
        min-width: 100vw;
        width: 100vw;
        height: auto;
        padding: 8px 0px 8px 0px;
        position: static;

        .start{
            flex-direction: row;
            justify-content: start;
            height: auto;
            width: 100vw;
            padding-top: 8px;

            h1{
                margin-top: 0px;
                margin-bottom: 8px;
            }
        }

        .middle{
            flex-direction: row;
            justify-content: start;
            height: auto;
            width: 100vw;
            margin-top: 0px;
            margin-left: 8px;
        }

        .end{
            flex-direction: row;
            justify-content: start;
            height: auto;
            width: 100vw;
            margin-left: 8px;
            margin-bottom: 4px;
        }

        a{
            margin-left: 6px;
            margin-right: 6px;
        }

        a:hover, .logo-link:hover{
            transform: translateX(0);
        }
    }

}