@use '../../utils/variables' as *;

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    height: max-content;
    box-shadow: $black 0px 0px 3px;

    .start{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        margin-left: 3%;
    }

    .middle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
    }

    .end{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        margin-right: 3%;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px 8px 12px;
        margin-left: 16px;
        margin-right: 16px; 
        background-color: $black;
        color: $white;
        border-radius: 6px;
        box-shadow: $shadow 1px 2px 3px;
        transform: scale(1);
        transition: $default-transition;
    }

    a:hover{
        background-color: $grey;
        box-shadow: $shadow 1px 2px 6px;
        transform: scale(1.025);
        transition: $default-transition;
    }
}

.tiny-link{
    font-size: 0.8em;
    background-color: $black;
    color: $white;
    margin-left: 8px;
    margin-right: 8px;
}