$black: #282c2f;
$hover-black: #1c1f22;
$white: #ffffff;
$grey: #757575;
$shadow: #000000;
$default-transition: all 0.25s ease-in-out;
$default-font: 1em, 'Arial', sans-serif;

:root{
    --black: #282c2f;
    --hover-black: #1c1f22;
    --white: #ffffff;
    --grey: #757575;
    --shadow: #000000;
    --default-transition: all 0.25s ease-in-out;
    --default-font: 1em, 'Arial', sans-serif;
}