@use '../../utils/variables' as *;

.filtering{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    button{
        background-color: $hover-black;
        color: $grey;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        border: none;
        border-radius: 16px;
        text-decoration: line-through;
        font-weight: bold;
        transition: $default-transition;

        @media (hover: hover){
            &:hover{
                cursor: pointer;
            }
            // &.hover{
            //     background-color: $grey;
            //     color: $white;
            //     cursor: pointer;
            //     text-decoration: none;
            //     transition: $default-transition;
            // }
        }

        &.selected, &.hover{
            background-color: $grey;
            color: $white;
            text-decoration: none;
            transition: $default-transition;
        }
    }
}

.experience-card{
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: start;
    width: 95%;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    transition: $default-transition;

    @media (hover: hover){
        &:hover{
            background-color: $hover-black;
            transition: $default-transition;
        }
    }

    .date{
        min-width: 33%;
        padding: 8px 0px;
    }

    .info{
        box-sizing: border-box;
        padding: 8px 8px 8px 0px;
        width: 100%;

        .title, .company{
            font-weight: bold;
        }

        .skills{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            font-size: 14px;

            .skill{
                background-color: $grey;
                color: $white;
                padding: 4px 8px;
                margin-right: 8px;
                border: none;
                border-radius: 14px;
                text-decoration: none;
                transition: $default-transition;
            }
        }
    }
}

.resume-link{
    color: $white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;

    svg{
        transform: translate(0px, 1px) rotate(45deg);
        transition: $default-transition;
    }

    @media (hover: hover){
        &:hover{
            svg{
                transform: translate(2px, -1px) rotate(45deg);
                transition: $default-transition;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .filtering{
        width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
    }

    .experience-card{
        width: 100%;
        display: flex;
        flex-direction: column;

        .date{
            width: 100%;
            padding: 0px;
        }

        .info{
            width: 100%;
            padding: 0px;
            padding-bottom: 4px;

            .skills{
                padding-left: 16px;
            }
        }
    }

    .resume-link{
        width: 100%;
        margin-left: 16px;
    }
}