@use '../../utils/variables' as *;

.filtering{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    button{
        background-color: $hover-black;
        color: $grey;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        border: none;
        border-radius: 16px;
        text-decoration: line-through;
        font-weight: bold;
        transition: $default-transition;

        @media (hover: hover){
            &:hover{
                background-color: $grey;
                color: $white;
                cursor: pointer;
                text-decoration: none;
                transition: $default-transition;
            }
        }

        &.selected{
            background-color: $grey;
            color: $white;
            text-decoration: none;
            transition: $default-transition;

            @media (hover: hover){
                &:hover{
                    background-color: $hover-black;
                    color: $grey;
                    transition: $default-transition;
                }
            }
        }
    }
}

.experience-card{
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 95%;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px $black;
    transform: scale(1);
    transition: $default-transition;

    @media (hover: hover){
        &:hover{
            background-color: $hover-black;
            color: $white;
            box-shadow: 0px 2px 4px $shadow;
            transform: scale(1.025);
            transition: $default-transition;
        }
    }

    .date{
        width: 33%;
        padding: 8px 4px;
        font-weight: bold;
    }

    .info{
        padding: 8px 0px;

        .title{
            font-weight: bold;
        }

        .company{
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 800px){
    .filtering{
        width: 100%;
        margin-left: 24px;
    }

    .experience-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: none;

        .date{
            width: 100%;
            padding: 0px;
        }

        .info{
            width: 100%;
            padding: 0px;
        }
    }
}