@use '../../utils/variables' as *;

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    background-color: $black;
    color: $white;
    font: $default-font;
}

.main{
    width: 50vw;
    max-width: 640px;
    min-height: 100vh;
}

@media screen and (max-width: 800px){
    .root{
        flex-direction: column;
        max-width: 100vw;
    }

    .main{
        width: 100vw;
        max-width: 100vw;
        min-height: auto;
    }
}